## 1. What is a tuple in Python and how is it different from a list?
* It is a multi value datatype
* It is an ordered collection
* It allows duplicate elememts
* It supports indexing
* The default value of tuple is () - empty tuple
* We can also create nested tuple
### Major differences between lis and tuple are :
* Tuple is immutable that means we cannot modify or change
* In some cases we can modify . If element inside the tuple itself mutale then we can modify
* Tuple is faster than list due to its immutability

In [8]:
#2. How can you create a tuple with a single element?
tuple=(25,)
print(type(tuple),tuple)

<class 'tuple'> (25,)

#3. Is a tuple mutable or immutable? Justify your answer.
* tuple() is immutable we cannot change or modify the data
* If we try to assaign any new data to existed ones it throws an Type Error

In [27]:
del tuple

In [28]:
#4. Write a Python code to convert a list into a tuple.
list=['green','blue','red','pink']
print(tuple(list))

('green', 'blue', 'red', 'pink')

In [18]:
#5. How do you access elements in a tuple
tuple =('cat','dog','cow','rat')
print(tuple[3])

rat

In [29]:
#What happens if you try to change the value of a tuple element?
tuple =('cat','dog','cow','rat')
tuple[1]='goat'
print(tuple[1])

TypeError: 'tuple' object does not support item assignment

In [35]:
#7. Can a tuple contain elements of different data types? Explain with example.
tuple1=('name',25,25.6)
print(type(tuple1[1]))

<class 'int'>

In [38]:
#8. How do you check if an item exists in a tuple?
a =('cat','dog','cow','rat')
print("cow" in a)

True

In [39]:
#9. Write a program to count the number of occurrences of an element in a tuple.
a =('cat','dog','cow','rat')
print(a.count("rat"))

1

In [40]:
#10. How do you find the index of an element in a tuple?
a =('cat','dog','cow','rat')
print(a.index('cat'))

0

In [43]:
#11. Explain slicing in tuples with an example.
a =('cat','dog','cow','rat')
print(a[1:4])
print(a[1:3])

('dog', 'cow', 'rat')
('dog', 'cow')

In [45]:
#12. Can a tuple contain another tuple? Give an example.
# yes.the tuple contain the another tuple is known as nested tuple
a ='cat','dog','cow','rat',(1,35,20,'mani')
print(a)

('cat', 'dog', 'cow', 'rat', (1, 35, 20, 'mani'))

In [46]:
#13. Write a code to iterate over a tuple using a for loop.

In [1]:
#14. What are the built-in methods available for tuples?
print(dir(tuple))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [9]:
#15. Demonstrate the use of the `count()` method with tuples
a =('cat','dog','cow','rat', "dog",(1,35,20,'mani'))
print(a.count('dog'))

2

In [12]:
#16. Demonstrate the use of the `index()` method with tuples.
a =('cat','dog','cow','rat', "dog",(1,35,20,'mani'))
print(a.index('dog'))

1

In [13]:
#17. Can a tuple be used as a dictionary key? Why or why not?

In [16]:
#18. How do you unpack values from a tuple into variables?
tuple2 =('cat','dog','cow','rat', "dog",(1,35,20,'mani'))
a,b,c,d,e,f=tuple2
print(a,b,c,d,e,f,sep='\n')

cat
dog
cow
rat
dog
(1, 35, 20, 'mani')

In [30]:
#19. What is tuple packing and unpacking?
# Tuple packing: Means grouping multiple values into a single tuple()
# We can assign multiple elements/values consisting of different data types, python will consider as a tuple by simply giving in tuple syntax form.

# Tuple Unpacking: Extracting the values form a tuple into seperate variables.
# The number of variables must be equal to values inside the tuple.

In [34]:
#20. Compare tuples and lists in terms of performance.
tup2=['my', 'name', 'is', 'mani']
tup2[0] = 'MY'
print(tup2)

tup2= 'my', 'name', 'is', 'mani'
tup2[0] = 'MY'
# As we see the above example the list is able to change the value or modify it but tuple is giving error.
# Performance wise both are as same as they are except mutablility.

['MY', 'name', 'is', 'mani']

TypeError: 'tuple' object does not support item assignment

In [23]:
#21. Create a nested tuple and access its elements.
tuple2 =('cat','dog','cow','rat', "dog",(1,35,20,'mani'))
print(tuple2[2])
print(tuple2[1:4])
print(tuple2[5][2])

cow
('dog', 'cow', 'rat')
20

In [24]:
#22. How can you find the length of a tuple?
tuple2 =('cat','dog','cow','rat', "dog",(1,35,20,'mani'))
print(len(tuple2))

6

In [28]:
#23. What is the use of the `in` operator with tuples?
tuple2 =('cat','dog','cow','rat', "dog",(1,35,20,'mani'))
print('rat' in tuple2)

True

In [29]:
#24. How do you concatenate two tuples?
tuple2 =('cat','dog','cow','rat', "dog",(1,35,20,'mani'))
a =('cat','dog','cow','rat')
print(tuple2+a)

('cat', 'dog', 'cow', 'rat', 'dog', (1, 35, 20, 'mani'), 'cat', 'dog', 'cow', 'rat')

In [37]:
#25. Explain tuple immutability with an example.
tup2=('my', 'name', 'is', 'mani')
tup2[0] = 'MY'
tup2

TypeError: 'tuple' object does not support item assignment

In [71]:
animals= {"cat","dog","rat","cow"}

In [80]:
#26. What is a set in Python and how is it different from a list and a tuple?
#set is an unordered, mutable collection of unique elements. It is defined using curly braces {}
#ex:{1,2,3}
# list is an ordered, mutable collection of items. Lists can hold duplicate elements and different data types.it defines the square braces[]
#ex:[1,2,4,6]
#tuple is an ordered,mutable,allows the duplicate elements.indexed elements
#ex:(1,2,3,4,)

In [39]:
#27. How do you create a set?
animals={"cat","dog","rat","cow"}
print(animals)

{'cat', 'rat', 'dog', 'cow'}

In [41]:
#28. Can a set have duplicate values? Explain.
animals={"cat","dog","rat","cow","cat"}
print(animals)

{'cat', 'rat', 'dog', 'cow'}

In [43]:
#29. How do you add an element to a set?
animals={"cat","dog","rat","cow","cat"}
animals.add("goat")
print(animals)

{'cat', 'cow', 'dog', 'goat', 'rat'}

In [44]:
#30. How do you remove an element from a set?
animals={"cat","dog","rat","cow","cat"}
animals.remove("dog")
animals

{'cat', 'cow', 'rat'}

In [59]:
#31. What is the difference between `remove()` and `discard()` in sets?
animals={"cat","dog","rat","cow","cat"}
print(animals.discard("lion"))


animals={"cat","dog","rat","cow","cat"}
print(animals.remove("lion"))


# As you can see that when you try to eleminate a non exsisting element from the set using .remove(), it will give error.
# Where as when you try that using .discard(), it will give a output as "None" if this was the case or else

None

KeyError: 'lion'

In [62]:
#32. What is the use of `pop()` in sets?
animals={"cat","dog","rat","cow","cat"}
animals.pop()
print(animals)
#in these pop() in set it is randomly delete on element in the set

{'rat', 'dog', 'cow'}

In [74]:
animals={"cat","dog","rat","cow","cat"}

In [78]:
#How do you clear all elements from a set?
animals={"cat","dog","rat","cow","cat"}
animals.clear()
print(animals)

set()

In [91]:
#34. What are set operations in Python?
#the set operations are
#union:combines the elements convert into set. two or more sets convert into one set
#ex:set1.union(set2)
set1={1,2,3,4}
set2={3,4,5,6}
my_set=set1.union(set2)
print(my_set)
#intersection:returns elements common to all sets involved
set1={1,2,3,4}
set2={3,4,5,6}
my_set=set1.intersection(set2)
print(my_set)
#difference returns elements present in first set but not in second 
set1={1,2,3,4}
set2={3,4,5,6}
my_set=set1.difference(set2)
print(my_set)

{1, 2, 3, 4, 5, 6}
{3, 4}
{1, 2}

In [93]:
#35. Explain union and intersection of sets with examples.
#union:combines the elements convert into set. two or more sets convert into one set
#ex:set1.union(set2)

set1={1,2,3,4}
set2={3,4,5,6}
my_set=set1.union(set2)
print(my_set)
#intersection:returns elements common to all sets involved
set1={1,2,3,4}
set2={3,4,5,6}
my_set=set1.intersection(set2)
print(my_set)

{1, 2, 3, 4, 5, 6}
{3, 4}

In [94]:
#36. Hows do you find the difference between two sets?
set1={1,2,3,4}
set2={3,4,5,6}
my_set=set1.difference(set2)
print(my_set)

{1, 2}

In [3]:
#37. How do you find the symmetric difference between sets?
set1={1,2,3,4}
set2={3,4,5,6}
my_set=set1.symmetric_difference(set2) 
print(my_set)

{1, 2, 5, 6}

In [6]:
#38. Explain subset and superset with code examples.
a={1,2,3,5,6,7,8,9,}
b={1,2,3}
my_set=b.issubset(a)
set3=a.issuperset(b)
print(my_set,set3,sep='\n')

True
True

In [7]:
#39. How do you check if two sets are disjoint?
a={1,2,3,5,6,7,8,9,}
b={1,2,3,5}
my_set=a.isdisjoint(b)
my_set

False

### 40. Can you add a list to a set? Why or why not?
No, you cannot add a list to a set.Lists are mutable,sets require all elements to be hashable and immutable.

In [8]:
#41. How do you convert a list to a set?
list=[1,2,3,4,5,6,7,8,1,2,3,4,5,6,7]
print(set(list))

{1, 2, 3, 4, 5, 6, 7, 8}

In [9]:
#42. How do you find the length of a set?
set={1,2,3,4,5,6,7,8,9,10,11,23,44,55,67,89,123,43,56,900}
print(len(set))

20

In [10]:
#43. Can a set contain mixed data types? Give example.
set={12,34,56,89,'mani',20.5}
print(type(set))

<class 'set'>

In [14]:
#45. What will happen if you try to access set elements using index?
set={1,2,3,4}
print(set[3])

TypeError: 'set' object is not subscriptable

In [15]:
#46. Demonstrate a scenario where sets can improve performance.
#Using sets can significantly improve performance over lists when checking if an element exists, because:

#in operation in a list is O(n)

#in operation in a set is O(1) on average

In [16]:
#47. What are frozen sets and how are they different from regular sets?
#frozenset is an immutable version of a regular set. 
#As keys in dictionaries

#As elements in other sets

#When you need a constant (read-only) set

In [17]:
#48. How do you create a frozen set?
#create a frozen set in Python using the built-in frozenset() constructor function. Unlike regular sets, frozensets are immutable

#syntax:my_frozen_set = frozenset(iterable)

In [18]:
#49. Can a set be nested? Explain.
#No, a set cannot directly contain another set as an element.
#This is because sets can only contain hashable elements, and sets themselves are not hashable because they are mutable.

In [19]:
#50. What are some real-world use cases for sets in Python?
#Removing duplicates from collections of data (e.g., removing duplicate customer records)
#Natural language processing tasks like finding unique words in a text
#Database operations that require unique constraints or comparisons between data sets
#Finding unique values in large datasets (e.g., unique visitors to a website)

### Coding Questions on Tuple and Set

In [1]:
#5. Given two sets, write a program to check if one set is a subset of another.
a={1,2,3,4,5,6,7}
b={1,2,3,4}
print(b.issubset(a))

True

In [2]:
#7. Write a program to find all common elements between two sets.
a={1,2,3,4,5,6,7}
b={1,2,3,4,9,8,10}
print(a&b)

{1, 2, 3, 4}

In [3]:
# Given a tuple of numbers, write a program to find the second largest element
tup1={25,56,34,98,60}
tup1=sorted(tup1)
print(tup1[3])

60

In [4]:
# Write a program to convert a tuple of strings into a single string
tup=('m','a','n','i')
a="".join(tup)
print(a)

mani

In [7]:
# Write a program to remove duplicate elements from a list using a set.
a=[25,27,26,25,78,26,28,80,26,21,24,27,25,90,78,]
b=set(a)
print(b)
print(len(a))

{90, 78, 80, 21, 24, 25, 26, 27, 28}
15

In [8]:
# Write a Python function that takes a tuple of numbers and returns a new tuple with only even numbers

In [9]:
# Write a program to count the frequency of each item in a tuple.

In [10]:
# Write a Python program to find the repeated items of a tuple.

In [11]:
# Write a Python program to create a union, intersection, and difference of two sets entered by the user
set1={1,2,3,4}
set2={3,4,5,6}
my_set=set1.union(set2)
print(my_set)
set1={1,2,3,4}
set2={3,4,5,6}
my_set=set1.intersection(set2)
print(my_set)
set1={1,2,3,4}
set2={3,4,5,6}
my_set=set1.difference(set2)
print(my_set)

{1, 2, 3, 4, 5, 6}
{3, 4}
{1, 2}

In [14]:
# Given a tuple of mixed data types, write a program to extract all string values
tuple1={12,34,56.7,67,82,"mani",32.5,"shiva"}
a,b,c,d,e,f,g,h=tuple1
print(a,b,c,d,e,f,g,h,sep=',')

32.5,34,67,shiva,12,82,mani,56.7